@import "variables";
@import "mixins";

[ng-view] {
  &.ng-enter {
    .transition(0.2s, all, ease-out);
    opacity: 0;
//    .transform(-500px);
    .transform(0, 1, 180deg);
    &.ng-enter-active {
      opacity: 1;
      .transform();
    }
  }
}

edit-game {
  .transition(1s, max-height);
  display: block;
  &.ng-enter {
    max-height: 0;
    &.ng-enter-active {
      max-height: 1200px;
    }
  }
  &.ng-leave {
    display: none;
  }
}

game {
  display: block;
  &.ng-enter {
    .linear-transition(1s);
    opacity: 0;
    &.ng-enter-active {
      opacity: 1;
    }
  }
  &.ng-leave {
    .linear-transition(1s);
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.gameList > game-wrapper, .gameList > edit-game-wrapper {
  img-wrapper {
    .transition(0.3s 0.2s, margin width height max-width max-height border-radius z-index, ease-in-out);
    &:hover {
      z-index: 99;
    }
  }

  > game img-wrapper:hover {
    .border-radius(0);
    .max-size(@iconSizeHover);
    .size(@iconSizeHover);
    @margin: @iconSize - @iconSizeHover;
    margin: @margin/2 (@margin + 5px) @margin/2 0;
  }

  > variants > game-wrapper, > variants > edit-game-wrapper {
    > game img-wrapper:hover {
      .max-size(@iconSizeHover);
      .size(@iconSizeHover);
      @margin: @variantsImgSize - @iconSizeHover;
      margin: (@margin/2 + 1px) (@margin + 5px) (@margin/2 + 1px) (@iconSize - @variantsImgSize);
    }
  }
}

error {
  display: block;
  &.ng-enter {
    .transition(0.3s, all, ease-out);
    opacity: 0;
    .transform(200px);
    &.ng-enter-active {
      opacity: 1;
      .transform();
    }
  }
  &.ng-leave {
    display: none;
  }
}

toast {
  &.ng-enter {
    .transition(0.3s, all, ease-out);
    opacity: 0;
    .transform(-300px);
    &.ng-enter-active {
      opacity: 1;
      .transform();
    }
  }
  &.ng-leave {
    .transition(0.3s, all, ease-out);
    border: none;
    opacity: 1;
    .transform();
    &.ng-leave-active {
      opacity: 0;
      line-height: 0;
      font-size: 0;
      .transform(300px);
    }
  }
}

footer {
  &.show-chat-add, &.show-chat-remove {
    .transition(0.3s);
  }
}