@import "variables";
@import "mixins";

img-preview {
  width: 0;
  height: 0;
  margin: 0;
  > img-presenter {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    background: fade(@bgColor, 80);
    padding-top: @headerHeight + 10px;
    z-index: 99;

    div {
      text-align: center;
    }

    img {
      display: block;
      margin: auto;
      max-height: 90%;
      max-width: 90%;
    }
  }
}

edit-game {
  fieldset {
    > ul {
      margin: 0;
      padding: 5px;
      background: fade(@fgColor, 5);
      &:nth-child(2N) {
        background: fade(@fgColor, 3);
      }
      &:hover {
        background: fade(@fgColor, 8);
      }

      > li {
        input[type="radio"] {
          .flex(0);
          .flex-basis();
        }

        > ul > li {
          &:after {
            content: ' ';
            clear: both;
            display: block;
          }

          > img.small-image {
            .size(auto);
            .max-size(@iconSizeHover, @iconSize);
            display: block;
            clear: left;
            float: left;
            margin-right: 5px;
          }
        }
      }
    }
  }
}