<!DOCTYPE html>
<html>

<head>
    <!-- build:process -->
    <!-- /build -->
    <!-- build:style main -->
    <!-- /build -->
    <!-- build:script main -->
    <!-- /build -->
    <link href="favicon.ico" rel="icon" type="image/x-icon"/>
    <meta charset=utf-8/>
    <title>LAN-Vote</title>
</head>
<!-- build:process -->
<body ng-app="<%= app %>" ng-controller="mainCtrl">
<!-- /build -->
<aside spinner="{{pageLoading}}"></aside>
<div class="container">
    <header-wrapper>
        <header>
            <branding>
                <a href="/"><div id="logo"></div></a>
            </branding>
            <!-- build:section nav -->
            <!-- /build -->
            <toaster>
                <amount class="{{toaster.class}}" ng-click="toaster.toggle()" ng-cloak>
                    {{toaster.toasts.length}} <span i18n="header.toaster.messages"></span>
                    <a href="" ng-click="toaster.clear()" i18n="header.toaster.clear"></a>
                </amount>
                <toast ng-repeat="toast in toaster.visibleToasts" class="{{toast.class}}"
                       ng-click="toaster.remove(toast.id)"><span i18n="{{toast.message}}" i18n-values="toast.params"></span></toast>
            </toaster>
        </header>
    </header-wrapper>
    <article ng-view></article>
    <debug>
        <h3 style="margin-bottom: 0">Debug-Options</h3>
        <button ng-click="toaster.success('voting.done'); toaster.info('game.added', 'FlatOut 2'); toaster.error('connection.lost');">Toasts</button>
    </debug>
    <!-- build:section footer -->
    <!-- /build -->
</div>
</body>
</html>