<footer ng-class="voting.footerClasses">
    <footer-summary>
        <content>
            <content-flex>
                <username></username>
                <div id="ready"></div>
                <aside id="language-selection" ng-if="i18n.ready">
                    <label for="language" i18n="footer.language"></label>
                    <select id="language" ng-options="'footer.languages.' + l | i18n for l in i18n.locales" ng-model="i18n.currentLocale"></select>
                </aside>
            </content-flex>
        </content>
    </footer-summary>
</footer>