<h1 i18n="header.nav.register"></h1>
<form name="register" action="/register" method="post">
    <fieldset>
        <errors ng-if="!register.$valid">
            <error ng-if="register.username.$error.required" i18n="form.validation.field.required" i18n-values="['form.username']" i18n-recursive="[true]" i18n-html="true"></error>
            <error ng-if="register.username.$error.minlength" i18n="form.validation.field.minlength" i18n-values="['form.username', 3]" i18n-recursive="[true]" i18n-html="true"></error>
            <error ng-if="register.password.$error.required" i18n="form.validation.field.required" i18n-values="['form.password']" i18n-recursive="[true]" i18n-html="true"></error>
            <error ng-if="register.password.$error.minlength" i18n="form.validation.field.minlength" i18n-values="['form.password', 8]" i18n-recursive="[true]" i18n-html="true"></error>
            <error ng-if="register.retypePassword.$error.pattern" i18n="form.validation.password.match" i18n-html="true"></error>
        </errors>
        <ul>
            <li><label for="username" i18n="form.username"></label><input type="text" name="username" id="username" ng-model="username" required ng-minlength="3"/></li>
            <li><label for="password" i18n="form.password"></label><input type="password" name="password" id="password" ng-model="password" required ng-minlength="8"/></li>
            <li><label for="retypePassword" i18n="form.retypePassword"></label><input type="password" name="retypePassword" id="retypePassword" ng-model="retypePassword" ng-pattern="passwordPattern" required/></li>
        </ul>
    </fieldset>
    <button type="submit" i18n="form.register" ng-disabled="!register.$valid"></button>
</form>