<result>
    <game-result>
        <h1 ng-bind="result.title"></h1>
        <img-wrapper>
            <img ng-src="{{result.winner.image}}"/>
        </img-wrapper>
    </game-result>
    <a class="button" href="#/voting" i18n="article.result.back"></a>
</result>